<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299474732858-79e5vanvlnlajkbstiuf41ijdgeqnfu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299474732858-79e5vanvlnlajkbstiuf41ijdgeqnfu5</string>
	<key>API_KEY</key>
	<string>AIzaSyDIEeoqadu7UcHMmhEuUkF7V9Wex4UKHLk</string>
	<key>GCM_SENDER_ID</key>
	<string>299474732858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.raweber.notetaker</string>
	<key>PROJECT_ID</key>
	<string>notetaker-learn-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>notetaker-learn-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299474732858:ios:0a023edae35c2c32be3203</string>
</dict>
</plist>